<section id="contact" style="padding:60px 20px; background:#111; text-align:center;">
  <h3 class="contact-title">Síguenos en Instagram</h3>
  
  <a href="https://www.instagram.com/doublechile/" target="_blank" rel="noopener noreferrer" class="instagram-link">
    <img src="public/img/pngwing.com.png" alt="Instagram Logo" class="instagram-icon">
  </a>
  
  <p style="color:#aaa; margin-top: 20px; font-size:1.1em; font-family: 'Cormorant Garamond', serif;">¡No te pierdas nuestros eventos y momentos exclusivos!</p>
</section>
<style>


#contact {
  padding: 80px 20px; 
  background: linear-gradient(to bottom, #111, #0a0a0a); 
  text-align: center;
  color: #fff; 
  min-height: 50vh; 
}

#contact h3 {
  font-family: 'Montserrat', sans-serif; 
  font-size: 1.6em; 
  margin-bottom: 20px; 
  color: #bebebb;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 8px rgba(255, 215, 0, 0.4); 
  font-weight: 700; 
}

.instagram-link {
  display: inline-block; 
  margin: 20px 0; 
  transition: transform 0.3s ease-in-out; 
}

.instagram-link:hover {
  transform: scale(1.1); 
} 

.instagram-icon {
  width: 80px; 
  height: auto; 
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7)); 
}

#contact p {
  font-family: 'Cormorant Garamond', serif; 
  font-size: 1.3em;
  color: #ccc; 
  margin-top: 30px; 
  line-height: 1.5;
  font-weight: 400; 
  letter-spacing: 1px;
}
/* Media Queries para Responsive         */

@media (max-width: 768px) {
  #contact {
    padding: 60px 15px;
    min-height: 30vh; 
  }
  #